.App {
  text-align: center;
}

.logo {
  height: 11vmin;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pcmain{
  position: relative;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.introduce{
  margin-top: 3%;
}
.engfont{
  font-family: 'MacondoSwashCaps-Regular';
  font-size: larger;
}
.koreanfont{
  font-family: 'poor-story';
  font-size: large;
}
.introtext{
  line-height: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav {
  background-color:#FFFFFF;  
  width:32vmin;  
  float:left;  
  flex-direction: row;    
  border-color: #000000;
  border : 1px solid
}
.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent img{
  width: 100vmin;
  height: 20vh;
  object-fit: cover;
}
.parentmobile img{
  object-fit:fill;
  width: 100%;
  position: relative;
}
.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'MacondoSwashCaps-Regular';
  src: url(fonts/MacondoSwashCaps-Regular.ttf);
}
@font-face {
  font-family: 'poor-story';
  src: url(fonts/PoorStory-Regular.ttf);
}
